@import './pages.css';

*{
    padding: 0;
    margin: 0;
}

#root{
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

/* entry */
.entry{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

/* map */
.map-face{
    border-radius: 20px;
    position: absolute;
    right: 10%;
    top: 15%;
    height: 400px;
    padding: 0 30px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.map-title img{
    width: 220px;
}

.map-container{
    position: relative;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.map-canvas{
    background-image: url('/images/grassland.png')
}

.map-right{
    position: absolute;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    padding: 20px;
    align-items: center;
}

.map-right-owned-div{
    width: 60px;
    height: 60px;
    box-sizing: border-box;
    background-color: rgb(136, 181, 15);
    border: 1px lightgray solid;
    margin: 10px;
}

.map-right-owned-div img{
    width: 100%;
    height: 100%;
}

.map-right-icon{
    position: relative;
    background-color: white;
    width: 60px;
    height: 60px;
    margin: 10px;
    border-radius: 10px;
    border: 1px gray solid;
}

.map-right-icon img{
    width: 100%;
    height: 100%;
}

.icon-cover{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background-color: rgba(100, 100, 100, 0.6);
}

.map-bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
}

.little-map{
    position: absolute;
    right: 0;
    top: 0;
    width: 180px;
    height: 180px;
    background-color: rgba(0, 0, 0, 0.5);
}

.little-map-home{
    width: 10px;
    height: 10px;
    background-color: rgb(207, 236, 99);
    border-radius: 50%;
}

.little-map-select{
    width: 10px;
    height: 10px;
    background-color: rgb(221, 39, 54);
    border-radius: 50%;
}

.map-jump{
    position: absolute;
    bottom: -25px;
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.map-jump-part{
    outline: none;
}

.map-jump-part input{
    width: 50px;
    height: 20px;
    outline: none;
    padding: 0 5px;
}

.map-logo{
    position: absolute;
    left: 0;
    top: 0;
    width: 200px;
}

.map-logo img{
    width: 100%;
    height: 100%;
}

.effect-container{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}