@import './fundation.css';

*{
    padding: 0;
    margin: 0;
}

/* entry */
.entry{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.entry-title img{
    width: 250px;
}

.entry-play{
    background-color: blueviolet;
    color: white;
    font-size: 30px;
    margin-top: 20px;
    outline: none;
    border-radius: 10px;
    width: 150px;
    height: 60px;
}

.entry-play:active{
    background-color: blueviolet;
    width: 155px;
    height: 65px;
}

.overflow{
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup{
    width: 850px;
    min-width: 850px;
    height: 500px;
    min-height: 500px;
    background-color: white;
    border: 2px white solid;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

.popup-top{
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border-bottom: 0.2px lightgray solid;
}

.popup-close{
    background-color: white;
    border: 1px lightgray solid;
    padding: 10px 25px;
    box-shadow: 3px 3px rgba(0, 0, 0, 0.2);
    outline: none;
    font-size: 20px;
}

.popup-close:hover{
    box-shadow: 4px 4px rgba(0, 0, 0, 0.2);
}

.popup-content{
    padding: 20px;
    flex: 6;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.popup-item{
    border: 2px lightgray solid;
    width: 180px; 
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.guide-img-rect{
    width: 160px;
    height: 80px;
}

.guide-img-square{
    width: 80;
    height: 80px;
}

.mainnet-guide{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    width: 90%;
    height: 50px;
    margin: 15px 0;
    border-radius: 20px;
    border: 2px lightgray solid;
}

.circle{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 2px white solid;
    background-color: green;
}

.yesno{
    margin-top: 20px;
    width: 100px;
    height: 100px;
}

/* map */
.map-container{
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.map-canvas{
    background-image: url('/images/grassland.png')
}